/* -------- Cart --------- */
.cartContainer {
    max-width: 480px;
    margin: 1rem;
    padding: 1rem;
    background-color: tan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.cartContainer header {
    margin-bottom: 1rem;
}

/* ------ Cart Item ------ */
.cartItemCont {
    background-color: #555;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cartItemCont button {
    /* padding: 5px 10px; */
    min-width: 40px;
    margin-right: 0.75rem;
}